body {
  margin: 20px auto;
  max-width: 750px;
  line-height: 1.5em;
  font-size: 1.1em;
  background-color: #252525;
  color: #ffffff;
  padding: 0 10px;
  font-family: monospace;
  hyphens: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-variant: small-caps;
}
a {
  color: #00ffff;
  text-decoration: none;
}
a:hover {
  color: #c6ba93;
}
h1 {
  color: #9a61ab;
  font-size: 2em;
  font-weight: 650;
}
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: #9a61ab;
  font-size: 1.1em;
}
h2:before {
  content: "## ";
  content: "## " / "";
}
h3:before {
  content: "### ";
  content: "### " / "";
}
h4:before {
  content: "#### ";
  content: "#### " / "";
}
h5:before {
  content: "##### ";
  content: "##### " / "";
}
code {
  color: #252525;
  background: #e4d4e8;
}
pre {
  tab-size: 4;
}
details {
  padding: 0.6rem 1rem;
  background: #9a61ab;
  border: 3px inset #7d7d7d;
  border-radius: 5px;
  margin-bottom: 1rem;
}
summary {
  cursor: pointer;
  font-weight: 900;
}
details[open] {
  padding-bottom: 0.75rem;
}
details[open] summary {
  margin-bottom: 0.5rem;
}
details[open] > *:last-child {
  margin-bottom: 0;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
nav {
  display: inline-block;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}
nav a {
  font-weight: 900;
}
nav a[href*="/"]::before {
  content: "[ ";
}
nav a[href*="/"]::after {
  content: " ]";
}
