body {
  margin: 0;
  background-color: rgb(26, 30, 30); /* Black background */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  word-spacing: normal;
  line-height: 1.5;
  color: #ffffff; /* White text for black background */
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #000000;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  box-sizing: border-box;
}

nav {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0.1em 0;
  display: flex;
  justify-content: center;
}

li.header {
  display: inline-block;
}

li.header a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s;
}

li.header a:hover {
  background-color: #008080;
  color: #000000;
}

li.header a.active {
  background-color: #008080;
  color: #000000;
}

main {
  margin-top: 60px;
  padding: 20px 0;
}

footer {
  line-height: 30px;
  font-size: 13px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  box-sizing: border-box;
  color: rgb(155, 150, 150);
}

footer a:link {
  color: rgb(155, 150, 150);
  text-decoration: none;
}

footer a:hover {
  background: none;
  text-decoration: underline;
}

footer .left {
  text-align: left;
}

footer .right {
  text-align: right;
}

h2, h3 {
  border-bottom: 2px solid #333333;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  text-align: left;
}

a:hover {
  background: #008080;
  color: rgb(155, 150, 150);
}

a:link {
  text-decoration: underline;
  color: #008080;
}

a:visited {
  text-decoration: none;
  color: rgb(155, 150, 150);
}